{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Pylearn</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Pylearn!</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="about.html">About</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'users:view_users' %}">Users Leaderboard</a>
                <a href="{% url 'lessons:view_chapters' %}">Lessons</a>
                <a href="{% url 'users:view_user_attempts' request.user.id %}">My Progress</a>
                <a href="{% url 'users:logout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'users:login' %}">Log In</a>
                <a href="{% url 'users:signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
