{% extends "base.html" %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   
</head>
  <div
  id="Head"
  class="text-center bg-image ">
  <section class="background-radial-gradient overflow-hidden">
    <style>

      .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
      }
  
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      .bg-glass {
        background-color: hsla(0, 0.00%, 100.00%, 0.29) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    

    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="col-lg mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <div class="text-white">
                <h1 class="display-4">Welcome to PyLearn!</h1>
                <p class="lead">Your journey into Python mastery begins here. Learn Python from basics to advanced with interactive lessons, solve coding challenges, and track your progress seamlessly.</p>
                <hr class="my-4">
                <br>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <br>
  
  <div class="container p-2 ">
    <div class="row">
      <div class="col-lg-4 text-center ">
        <img src="{% static 'images/main/beginner.jpg' %}" 
          alt="Beginner-Friendly Lessons" 
          class="bd-placeholder-img rounded-circle" 
          width="160" 
          height="160">
        <h2>Beginner-Friendly Lessons</h2>
        <p>Start your Python journey with simple, step-by-step lessons designed for beginners. No prior coding knowledge required.</p>
        <p><a class="btn btn-secondary" href="{% url 'lessons:view_chapters' %}">Learn Basics »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="{% static 'images/main/editor.jpg' %}" 
        alt="Beginner-Friendly Lessons" 
        class="bd-placeholder-img rounded-circle" 
        width="160" 
        height="160">
        <h2>Interactive Code Editor</h2>
        <p>Practice what you learn directly in your browser with our built-in code editor.Find Unique ways to solve challenges and build confidence.</p>
        <p><a class="btn btn-secondary" href="{% url 'lessons:view_chapters' %}">Start Coding »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="{% static 'images/main/trackprog.jpg' %}" 
          alt="Beginner-Friendly Lessons" 
          class="bd-placeholder-img rounded-circle" 
          width="160" 
          height="160">
        <h2>Track Your Progress</h2>
        <p>Keep an eye on your learning journey with a personalized dashboard that displays your achievements and lesson completion stats.</p>
        <p><a class="btn btn-secondary" href="{% url 'users:view_users' %}">View Dashboard »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>

    <!-- START THE FEATURETTES -->
  <div class="container">
    <hr class="featurette-divider">
    <div class="row align-items-center" >
      <div class="col-md-7">
        <h1 class="featurette-heading">Interactive Learning, <span class="text-muted">Simplified.</span></h1>
        <p class="lead">Dive into Python with engaging lessons and hands-on coding practice. Our platform makes learning Python easy, even if you're starting from scratch.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/main/learning1.jpg' %}"   
        class="img mx-auto" 
        width="500" 
        height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row align-items-center" >
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Your Coding <span class="text-muted">Companion.</span></h2>
        <p class="lead">Practice coding in real-time using our in-browser editor. Solve exercises, debug code, and see results instantly.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'images/main/codecompanion2.jpg' %}"        
        class="img mx-auto" 
        width="500" 
        height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row align-items-center" >
      <div class="col-md-7">
        <h2 class="featurette-heading">Stay on Track, <span class="text-muted">Always.</span></h2>
        <p class="lead">Text: Monitor your progress and achievements with a personalized dashboard. Celebrate milestones and stay motivated on your learning journey.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/main/stayontrack.jpg' %}"     
        class="img mx-auto" 
        width="500" 
        height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
  </div>
  <div class="container px-4 py-5">
    
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Why PyLearn Stands Out</h2>
        <p class="text-body-secondary">Our mission is to make Python learning accessible and enjoyable for everyone. With a user-friendly interface and robust features, PyLearn is your ultimate coding partner.</p>     
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Personalized Dashboard</h4>
            <p class="text-body-secondary">Stay organized and track your progress at a glance.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Challenge-Based Learning</h4>
            <p class="text-body-secondary">Solve fun, interactive challenges to apply what you learn.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Learn at Your Own Pace</h4>
            <p class="text-body-secondary">Flexible lessons tailored to fit your schedule and learning speed.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Talk with the Experts</h4>
            <p class="text-body-secondary">Engage in a thriving community of Python enthusiasts and have the chance to participate in our free webinars</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section style="color: #000; background-color: #f3f2f2;">
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-xl-8 text-center">
            <h3 class="fw-bold mb-4">Reviews</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
              Not Sure Yet? See What People Say About Us
            </p>
          </div>
        </div>
    
        <div class="row text-center">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <div class="d-flex justify-content-center mb-4">
                  <img src="{% static 'images/main/person.jpg' %}" 
                    class="rounded-circle shadow-1-strong" width="100" height="100" />
                </div>
                <h5 class="font-weight-bold">John Harris</h5>
                <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
                <ul class="list-unstyled d-flex justify-content-center">
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star-half-alt fa-sm text-info"></i>
                  </li>
                </ul>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>"PyLearn is an excellent platform for learning Python! And it makes it easy to start from the basics and gradually move to advanced topics."
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <div class="d-flex justify-content-center mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(15).webp"
                    class="rounded-circle shadow-1-strong" width="100" height="100" />
                </div>
                <h5 class="font-weight-bold">Maggie McCann</h5>
                <h6 class="font-weight-bold my-3">Photographer & Studio Owner</h6>
                <ul class="list-unstyled d-flex justify-content-center">
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                </ul>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>"I always wanted to learn Python, and PyLearn made it possible. I love the dashboard that helps me see my progress."
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <div class="d-flex justify-content-center mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(17).webp"
                    class="rounded-circle shadow-1-strong" width="100" height="100" />
                </div>
                <h5 class="font-weight-bold">Alexa Horwitz</h5>
                <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
                <ul class="list-unstyled d-flex justify-content-center">
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-info"></i>
                  </li>
                </ul>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>"I went through all the courses and Pylearn made me love Python so much I started using Django for my current projects"
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Haven't Started Yet?</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">What Are You Waiting For? Join thousands in Their Learning Journey With Pylearn!!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="{% url 'users:signup' %}" role="button">Get Started</a>
          <a class="btn btn-outline-light btn-lg px-4" href="{% url 'users:signup' %}" role="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
